{% extends "admin/admin_master.html" %}

{% block main_content %}

<div style="width: 400px;">
    <h2 style="color: white;">Add Product</h2>
    <form method="POST">
        <div class="mb-3">
            <label style="color: white;">Name</label>
            <input class="input" type="text" name="name" required>
        </div>
        </br>
        <div class="mb-3">
            <label style="color: white;">Category</label>
            <select class="input" name="category" id="categorySelect" onchange="toggleOtherCategory()">
                {% for cat in categories %}
                    <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
                <option value="__other__">Other</option>
            </select>

            <input class="input" type="text" name="category_new" id="categoryOther" style="display:none;" placeholder="Enter new category">
        </div>
        </br>
        <div class="mb-3">
            <label style="color: white;">Price</label>
            <input class="input" type="number" name="price" required>
        </div>
        </br>
        <div class="mb-3">
            <label style="color: white;">Image</label>
            <div style="display: flex; gap: 0.5rem; align-items: center;">
                <!-- File picker -->
                <input class="input" type="file" name="image_file" id="imageFile" accept="image/*">
                <!-- URL input -->
                <input class="input" type="text" name="image_url" placeholder="Or paste image URL">
            </div>
        </div>

        </br>
        <button class="btn btn-primary" type="submit">Add Product</button>
    </form>
</div>

<script>
function toggleOtherCategory() {
    const select = document.getElementById('categorySelect');
    const otherInput = document.getElementById('categoryOther');
    if (select.value === '__other__') {
        otherInput.style.display = 'block';
    } else {
        otherInput.style.display = 'none';
        otherInput.value = '';
    }
}
</script>
{% endblock %}
