{% extends "admin/admin_master.html" %}

{% block title %}Home{% endblock %}

{% block admin_content %} 
    <!-- Form Card -->
    <div>
            <form method="POST">
            <div class="mb-3">
                <label>Name</label>
                <input class="input" type="text" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Category</label>
                <input type="text" name="category" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Price</label>
                <input type="number" name="price" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Image URL</label>
                <input type="text" name="image" class="form-control" required>
            </div>
            <button class="btn btn-primary" type="submit">Add Product</button>
            </form>

    </div>

{% endblock %}
