{% extends "admin/admin_master.html" %}

{% block main_content %}


<div class="container mt-4">
    <h2 white>Add Product</h2>
    <form method="POST">
        <div class="mb-3">
            <label style="color: white;">Name</label>
            <input class="input" type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Category</label>
            <input class="input" type="text" name="category" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input class="input" type="number" name="price" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Image URL</label>
            <input class="input" type="text" name="image" class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit">Add Product</button>
    </form>
</div>
{% endblock %}
