
/* Animate background position horizontally */
@keyframes slideBg {
  0% { background-position: 0% center; }
  25% { background-position: 100% center; }
  50% { background-position: 200% center; }
  75% { background-position: 300% center; }
  100% { background-position: 400% center; }
}
