<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
const bgSlider = document.querySelector('.hero-left .hero-bg-slider');
const images = [
  'https://www.uk-anime.net/images/bocchimain.png',
  'https://www.cnet.com/a/img/resize/3b4b3e192a9d75bd060ba4debe8d13a14caef990/hub/2024/07/06/b6981ace-771d-4971-8a9e-60e8c83bc66e/bocchi-the-rock-photo-1.jpg?auto=webp&fit=crop&height=900&width=1200',
  'https://www.uk-anime.net/images/bocchimain.png',
  'https://www.cnet.com/a/img/resize/3b4b3e192a9d75bd060ba4debe8d13a14caef990/hub/2024/07/06/b6981ace-771d-4971-8a9e-60e8c83bc66e/bocchi-the-rock-photo-1.jpg?auto=webp&fit=crop&height=900&width=1200'
];

let current = 0;

function changeBackground() {
  bgSlider.style.backgroundImage = `url(${images[current]})`;
  current = (current + 1) % images.length;
}

// Initial background
changeBackground();

// Change background every 5 seconds
setInterval(changeBackground, 5000);

</script>

<script>
  function adjustQty(delta) {
    const input = document.getElementById('quantityInput');
    let value = parseInt(input.value);
    if (!isNaN(value)) {
      input.value = Math.max(1, value + delta);
    }
  }
</script>