<!-- css.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/btn.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lesson.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">